<div class="col-10 offset-1 about">
<div class= "col-10 offset-1">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/Azaraiya">Jacob Jeans</a>. A beginner web developer who is on a mission to give people the motivation needed to face everyday with their head held high.
  </p>
  <br />
  <p>
    He has studied many philosophers and read many books on what it means to progress effectively in life. He has come from a place of deep depression to a place of focus and determination. He found his purpose in coding and web development.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>



   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jacob Jeans</h2>
      <br />
      <p>
       Jacob Jeans is a configuration tech at Ingram Micro and an avid Final Fantasy XIV and League of Legends player. He graduated from Arlington High School in 2017, and previously worked at GameStop as a Senior Guest Advisor before moving on to pursue better opportunities.
      </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />